body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2c3e50;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    color: #3498db;
}
